<div id="post-wrapper">
    <img class="site-img" src="/background-img.jpg" alt="Background IMG" />
    <div id="sits">
      <div class="post-text">
        <h2>
          Saved Posts
        </h2>
      </div>
      <div class="post-list">
          {{#posts}}
          <div id="post_id">
            <h2>{{post_title}}</h2>
            <img src="/uploads/{{post_content}}" alt="{{post_content}}" />
            <a target="_blank" href="{{maps_link}}">Get Location</a>
            <a href="/post/{{id}}" class="btn">Details</a>
          </div>
          {{/posts}}
    </div>
  </div>