<div id="post-wrapper">
    <img class="site-img" src="/background-img.jpg" alt="Background IMG" />
    <div id="sits">
      <div class="post-text">
        <h2>
          Saved Posts
        </h2>
      </div>
      <div class="post-list">
          {{#user_post_saved}}
          <div id="{{post_id}}">
            <h2>{{post_title}}</h2>
            <img src="{{post_content}}" alt="{{post_content}}" />
            <a target="_blank" href="{{maps_link}}">Get Location</a>
          </div>
          {{/user_post_saved}}
    </div>
  </div>